.formTodoBG {
  position: absolute;
  width: 100%;
  height: 100%;
  transition: all 0.6s ease;
  
  animation: 0.6s ease SlideIn;
}

#formTodo {
  background-color: white;
  display: grid;
  place-items: center;
  position: -webkit-sticky;
  position: sticky;
  top: 0;

  -webkit-box-shadow: 0px 0px 11px 0px rgba(50, 50, 50, 0.28);
  -moz-box-shadow:    0px 0px 11px 0px rgba(50, 50, 50, 0.28);
  box-shadow:         0px 0px 11px 0px rgba(50, 50, 50, 0.28);

  width: 400px;
  height: 100vh;
}

/* MOBILE */
@media (max-width: 35em) {
  #formTodo {
    z-index: 1;
    top: 0;
    width: 100%;
    height: 100vh;
    border-radius: 0;
  } 
}

#formTodo section {
  position: relative;
  display: grid;
  align-items: center;
  height: max-content;
  width: 80%;
}

#formTodo label {
  transition: all 0.2s ease-in-out;
  background-color: white;
  padding: 0.2rem;
  pointer-events: none;
  position: absolute;
  margin-left: 0.5rem;
}

#formTodo section input {
  position: relative;
  padding: 0.5rem;
}
#formTodo section input:not(input[value='']) ~ label,
#formTodo section input:focus ~ label {
  font-size: 0.8rem;
  top: -12px;
}

#formTodo #containerActions {
  max-height: 300px;
  overflow-y: auto;
  padding: 5px 0 5px 0;
  row-gap: 1rem;
}
#formTodo .action {
  display: grid;
  position: relative;
}
#formTodo .deleteAction {
  background: black;
  color: white;
  align-self: center;
  position: absolute;
  right: 0px;
  height: 100%;
  width: 30px;
}
#formTodo #addAction {
  background: transparent;
  place-self: center;
  width: max-content;
}

#formTodo .createTodo {
  background-color: black;
  color: white;
  padding: 0.8rem 0 0.8rem 0;
  border-radius: 20px;
}

#formTodo .exit {
  background-color: transparent;
  position: absolute;
  top: 20px;
  right: 30px;
}

#formTodo .exit {
  background-color: transparent;
  position: absolute;
  top: 20px;
  right: 30px;
}

@keyframes SlideIn {
  0% {
    left: -400px;
  }

  100% {
    left: 0px;
  }
}

@keyframes FadeIn {
  0% {
    opacity: 0;
  }

  100% {
    opacity: 1;
  }
}
