.formTodoBG {
  @apply
  absolute
  grid
  sm:flex

  pointer-events-none
  transition-all
  duration-300
  z-0

  w-full
  h-full;
  
  animation: 0.4s ease SlideIn;
}

#formTodo {
  @apply
  bg-white
  grid
  place-items-center
  content-start
  gap-8

  pointer-events-auto
  overflow-y-auto
  sticky
  z-10
  top-0
  shadow-xl

  h-screen
  w-full
  sm:w-1/2
  md:w-2/4
  lg:w-2/6;
}

#formTodo h3 {
  @apply
  text-xl
  mt-20;
}

#formTodo section {
  @apply
  relative
  grid
  items-center
  h-auto
  w-4/5;
}

#formTodo label {
  @apply
  bg-white
  absolute
  top-1
  p-1

  text-gray-500
  pointer-events-none
  ml-2
  transition-all
  duration-100;
}
#formTodo section input {
  @apply
  relative
  p-2
  rounded-md
  border-2
  border-black
  focus:border-white
  w-full;
}
#formTodo section input:not(:placeholder-shown) + label,
#formTodo section input:focus ~ label {
  @apply
  text-sm
  text-black
  -top-3;
}

#formTodo #containerActions {
  @apply
  gap-y-4
  pt-1
  pb-1;
}
#formTodo .action {
  @apply
  grid
  relative;
}
#formTodo .deleteAction {
  @apply
  bg-black
  absolute
  right-0
  
  text-white
  self-center
  rounded-tr-md
  rounded-br-md

  w-7
  h-full;
}
#formTodo #addAction {
  @apply
  bg-transparent
  place-self-center
  w-auto;
}

#formTodo .createTodo,
#formTodo .updateTodo,
#formTodo .deleteTodo {
  transition: all 1s ease-;
  @apply
  bg-black
  inline-flex
  pt-3
  pb-3

  text-white
  font-bold
  rounded-md
  justify-center
  items-center
  w-full;
}
#formTodo .deleteTodo {
  @apply
  bg-red-600
}

#formTodo .exit {
  @apply
  absolute
  top-5
  right-7;
}

@keyframes SlideIn {
  0% {
    left: -400px;
  }

  100% {
    left: 0px;
  }
}