.App {
  @apply
  grid 
  auto-rows-max
  sm:grid-cols-1
  md:grid-cols-2
  lg:grid-cols-3
  gap-12

  pt-20
  pb-20;
}

#addTodoBG {
  @apply
  absolute
  grid
  pointer-events-none
  w-full
  h-full;
}

#addTodo {
  @apply
  bg-gray-800
  sticky
  grid
  place-self-end
  place-items-center

  pointer-events-auto
  rounded-full
  shadow-2xl 

  md:bottom-14
  md:right-14
  bottom-8
  right-8

  w-16
  h-16;
}